@media(max-width: 1550px) {
	.partner-start {
		&__right {
			transform: translateX(0px);

			&-img {
				max-width: 100%;
			}
		}
	}

	body.active .partner-start__right-img {
		transform: translateY(0);
	}
}

@media(max-width: 1300px) {
	.intro {
		&__wrapper {
			background-size: contain;
		}

		// &__content {
		// 	padding: 0;
		// 	display: flex;
		// 	align-items: center;
		// }

		&__title {
			font-size: 50px;
		}
	}

	.purposes-company {
		&__right-items {
			padding: 100px 0;
			transform: translateX(0);
		}
	}
}

@media(max-width: 1200px) {
    .about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
			transform: translateY(0px);
		}
	
		&__content-inner {
			align-items: center;
		}
	
		&__left, &__right {
			width: 50%;
		}
	
		&__img {
			max-width: 100%;
		}
	
		&__right {
			max-width: none;
			padding-top: 0;
			margin-top: 20px;
		}
	
		&__items {
		}
	
		&__item {
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.purposes-company {
		&__content {
			background-position: center center;
			background-size: 70%;
		}

		&__left-items {
			padding: 90px 0 70px;
		}

		&__left-items &__item {
			&:nth-child(2) {
				max-width: 193px;
				padding: 0;
			}
		}
		&__right-items &__item {
			&:first-child {
				max-width: 159px;
			}
		}
	}

	.dealer-network {
		&__content {
			    background-size: contain;
				background-position: center center;
		}
	}

	.format-centre {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.format-street {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.advantages-analysis {
		&__content {
			background-size: contain;
    		background-position: center center;
		}
	}

	.advantages-help {
		&__content {
			background-size: contain;
			background-position: center bottom;
		}

		&-item {
			&__title {
				font-size: 12px;
				margin-bottom: 5px;
			}

			&__icon {
				width: 50px;
				height: 50px;
				border: 5px solid #AF9597;

				span {
					font-size: 20px;
				}
			}
		}

		&__first-item {
			bottom: 30%;
		}

		&__second-item {
			bottom: 30%;
		}

		&__fourth-item {
			bottom: 1%;
		}

		&__fifth-item {
			bottom: 10%;
    		left: 38.8%;
		}

		&__sixth-item {
			bottom: 0%;
    		left: 50.4%;
		}

		&__seventh-item {
			bottom: 27.3%;
    		left: 45.2%;
		}

		&__eighth-item {
			bottom: 46%;
    		left: 33.2%;
		}

		&__ninth-item {
			bottom: 58%;
    		left: 51.1%;
		}

		&__tenth-item &-item__icon {
			margin-right: 5px;
		}

		&__eleventh-item &-item__icon {
			margin-right: 5px;
		}

		&__twelfth-item {
			bottom: 22.4%;
		}

		&__thirteenth-item {
			bottom: 24.4%;
		}

		&__fourteenth-item {
			bottom: 30%;
		}

		&__fifteenth-item {
			bottom: 30%;
		}
	}

	.advantages-marketplaces {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.advantages-school {
		&__title {
			margin-bottom: 14px;
		}

		&__content {
			height: auto;
		}

		&__content-inner {
			transform: translateY(-0%);
		}

		&__left, &__right {
			width: 50%;
		}

		&__img {
			max-width: 100%;
		}
	}

	.investment {
		&__content-inner {
			display: block;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			margin-bottom: 30px;
		}
	}

	.quality-mark {
		&__content {
			height: auto;
		}

		&__content-inner {
			align-items: center;

			transform: translateY(-0%);
			position: static;
			z-index: 0;
		}

		&__left, &__right {
			width: 50%;
		}

		&__left {
			padding: 0;
			margin-right: 30px;
		}

		&__img {
			max-width: 100%;
		}
	}

	.partner-start {
		&__subtitle {
			font-size: 26px;
		}

		&__left {
			width: 40%;
			padding: 0;
		}

		&__info {
			width: auto;
			display: block;
		}

		// &__contacts {
		// 	margin-bottom: 30px;
		// }

		// &__qr-code {
		// 	text-align: left;

		// 	h3 {
		// 		font-size: 26px;
		// 		padding-left: 25px;
		// 	}
		// }
	}
}

@media(max-width: 1100px) {
	.partner-offer {
		&__content {
			height: auto;
		}
	}
}

@media(max-width: 992px) {
    .header {
        padding-top: 15px;

        &__img {
            width: 110px;
        }
    }

	.intro {
		padding-top: 112px;
	}

	.section {
		padding: 50px 0;

		&__title {
			font-size: 30px;
		}
	}

	.about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
		}
	
		&__content-inner {
			display: block;
		}

		&__left {
			text-align: center;
		}
	
		&__left, &__right {
			width: 100%;
		}
	
		&__img {
		}
	
		&__right {
		}
	
		&__items {
		}
	
		&__item {
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.purposes-company {
		&__content {
			margin: -50px 0;
		}

		&__left-items {
			padding: 125px 0 110px;
		}
		
		&-item {
			&__text {
				font-size: 16px;
			}
		}

		&__right-items {
			padding: 117px 0 130px;
		}

		&__right-items &__item:first-child, &__right-items &__item:last-child {
			max-width: 130px;
		}
	}

	.dealer-network {
		// &__content {
		// 	background-size: contain;
		// }

		&__title {
			margin-bottom: 50px;
		}

		&__items {
			padding: 0 60px;
		}

		&-item__count {
			font-size: 60px;
		}
	}

	.advantages-help {
		&__title {
			margin-bottom: 50px;
		}

		// &__content {
		// 	background-position: center center;
		// }

		&-item {
			&__title {
				font-size: 10px;
				margin-bottom: 2px;
			}

			&__icon {
				width: 40px;
				height: 40px;
				border: 2px solid #AF9597;

				span {
					font-size: 16px;
				}
			}
		}

		&__first-item {
			bottom: 31%;
			left: 2%;
		}

		&__second-item {
			bottom: 31%;
			left: 10.9%;
		}

		&__third-item {
			left: 22%;
		}

		&__fourth-item {
			bottom: 2%;
		}

		&__fifth-item {
			bottom: 11%;
			left: 37.8%;
		}

		&__sixth-item {
			bottom: 0.5%;
		}

		&__seventh-item {
			bottom: 28.3%;
			left: 46.2%;
			max-width: 102px;
		}

		&__eighth-item {
			left: 33.6%;
			max-width: 127px;
		}

		&__ninth-item {
			left: 50.7%;
		}

		&__tenth-item {
			left: 61.2%;
		}

		&__tenth-item &-item__icon {
			margin-right: 5px;
		}

		&__eleventh-item {
			left: 57.9%;
		}

		&__eleventh-item &-item__icon {
			margin-right: 5px;
		}

		&__twelfth-item {
			bottom: 22.0%;
		}

		&__thirteenth-item {
			bottom: 26.4%;
		}

		&__fourteenth-item {
			bottom: 31%;
		}

		&__fifteenth-item {
			bottom: 31%;
		}
	}

	.advantages-analysis {
		// &__content {
		// 	background-size: contain;
		// }

		&__title {
			margin-bottom: 50px;
		}

		&-item {
			&__text {
				p {
					margin-bottom: 10px;
				}
			}
		}
	}

	.advantages-school {
		&__title {
		}

		&__content-inner {
			// display: block;
			flex-direction: column;
		}

		&__left, &__right {
			width: 100%;
		}
		
		&__left {
			order: 1;
			margin-right: 0;
			margin-top: 20px;
		}

		&__right {
			order: 0;
			text-align: center;
		}
	}

	.investment {
		&__title {
			margin-bottom: 50px;
		}
	}

	.quality-mark {
		&__content-inner {
			flex-direction: column;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			order: 1;
			margin-right: 0;
		}

		&__items {
			display: flex;
			justify-content: space-between;
		}

		&__item {
			&:first-child {
				margin-right: 30px;
				margin-bottom: 0;
			}
		}

		&__right {
			order: 0;
			text-align: center;
		}
	}

	.partner-offer {
		&__content {
			background-position: center center;
			background-size: 40%;
		}
	}

	.partner-start {
		padding: 50px 0 0;

		&__content {
			align-items: center;
		}

		// &__qr-code {
		// 	h3 {
		// 		padding: 0;
		// 	}
		// }
	}
}

@media(max-width: 768px) {
	.intro {
		&__title {
			font-size: 40px;
		}
	}

    .about-company {
		&-card {
			&__img {
				margin-bottom: 20px;
			}
		}
	}

	.purposes-company {
		&__content {
			margin: -80px 0;
		}

		&__left-items {
		}
		
		&-item {
			&__text {
			}
		}

		&__left-items {
			padding: 135px 0 122px;
		}

		&__right-items {
			padding: 134px 0 139px;
		}

		&__left-items &__item:first-child, &__left-items &__item:nth-child(2), &__left-items &__item:last-child {
			max-width: 130px;
		}

		&__right-items &__item:first-child, &__right-items &__item:last-child {
			max-width: 105px;
		}
	}

	.dealer-network {
		&__items {
			padding: 0;
		}
	}

	.company-tv {
		&__imgs {
			display: block;
		}

		&__left-imgs, &__right-imgs {
			width: 100%;
		}

		// &__left-imgs &__left-img {
		// 	margin-bottom: 10px;
		// }

		&__right-imgs {
			text-align: left;
			display: flex;
			justify-content: space-around;
		}

		&__right-imgs &__right-img {
			width: 50%;
			object-fit: scale-down;
		}
	}

	.advantages-analysis {
		// &__items {
		// 	display: block;
		// }

		// &__item {
		// 	width: 100%;
		// 	margin-bottom: 30px;
		// }

		&-item {
			&__title {
				margin-bottom: 20px;
			}

			&__icon {
				margin-bottom: 20px;
			}
		}
	}

	.advantages-help {
		padding: 50px 0 20px;

		&__content {
			background-position: center center;
		}

		&__road-img {
			display: none;
		}

		&__road {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: end;
			// margin: 0 -15px;
		}

		&__item {
			position: static;
			width: 33.3333333333%;
			max-width: none;
			padding: 0 15px;
			margin-bottom: 30px;
		}

		&-item {
			&__title {
				font-size: 14px;
				margin-bottom: 15px;
			}

			&__icon {
				width: 70px;
				height: 70px;
				border: 8px solid #AF9597;

				span {
					font-size: 26px;
				}
			}
		}

		&__tenth-item, &__eleventh-item {
			display: block;
		}

		&__tenth-item &-item__title, &__eleventh-item &-item__title {
			max-width: none;
			text-align: center;
			margin-bottom: 15px;
		}

		&__tenth-item &-item__icon, &__eleventh-item &-item__icon {
			margin: 0 auto;
			width: 70px;
			height: 70px;
			border: 8px solid #AF9597;
		}
	}

	.partner-start {
		&__content {
			display: block;
		}

		&__left {
			width: 100%;
		}

		// &__contacts {
		// 	max-width: 280px;
		// 	margin: 0 auto 30px;
		// }

		// &__qr-code {
		// 	text-align: center;
		// }
	}
}

@media(max-width: 650px) {
	.intro {
		&__title {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
}

@media(max-width: 600px) {
	.purposes-company {
		&__content {
			background-image: none;
			margin: 0;
			height: auto;
		}

		&__items {
			display: block;
		}

		&__left-items, &__right-items {
			display: block;
			padding: 0;
		}

		&__left-items {
			margin-bottom: 20px;
		}

		&__item {
			width: 100%;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__left-items &__item:first-child, &__left-items &__item:nth-child(2), &__left-items &__item:last-child {
			max-width: none;
		}

		&__right-items &__item:first-child, &__right-items &__item:nth-child(2), &__right-items &__item:last-child {
			max-width: none;
		}

		&-item {
			&__text {
				font-size: 20px;
			}
		}
	}
}

@media(max-width: 576px) {
    .section {
		&__title {
			font-size: 24px;
		}
	}

	.about-company {
		&__card {
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
		}
	
		&__content-inner {
			display: block;
		}

		&__left {
			text-align: center;
		}
	
		&__left, &__right {
			width: 100%;
		}
	
		&__img {
		}
	
		&__right {
		}
	
		&__items {
			display: block;
		}
	
		&__item {
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.dealer-network {
		&__items {
			display: block;
		}

		&__item {
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-item {
			&__icon {
				margin-bottom: 20px;
			}

			&__count {
				font-size: 40px;
			}
		}
	}

	.advantages-analysis {
		&__items {
			display: block;
		}

		&__item {
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.investment {
		&__header-col {
			&:first-child {
				width: 60%;
			}
	
			&:nth-child(2) {
				margin-right: 5px;
			}
	
			&:nth-child(2), &:last-child {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__body-col {
			&:first-child {
				width: 60%;
			}
	
			&:nth-child(2), &:last-child {
				width: 20%;
			}
		}
	}

	.quality-mark {
		&__content-inner {
		}

		&__left, &__right {
		}

		&__left {
		}

		&__items {
			display: block;
		}

		&__item {
			&:first-child {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}

		&__right {
		}
	}

	.partner-offer {
		&__content {
			background: none;
		}

		&__row-items {
			display: block;
			margin: 0;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		&__item {
			margin-bottom: 20px;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}

			&:first-child, &:last-child {
				max-width: none;
				width: 100%;
			}
		}
	}
}

@media(max-width: 480px) {
    .header {
        &__img {
            width: 80px;
        }
    }

	.intro {
		height: 450px;
	}

	// .dealer-network {
	// 	&-item {
	// 		&__count {
	// 			font-size: 30px;
	// 		}
			
	// 		&__text {
	// 			max-width: 170px;
	// 		}
	// 	}
	// }

	.advantages-help {
		&__item {
			width: 50%;
		}
	}

	.investment {
		&__header-col {
			&:nth-child(2), &:last-child {
				font-size: 16px;
			}
		}

		&__body-row &__body-col {
			&:first-child {
				font-size: 16px;
			}

			&:nth-child(2), &:last-child {
				font-size: 20px;
			}
		}
	}

	.partner-start {
		&__subtitle {
			font-size: 24px;
		}

		&__contacts {
			&-phone, &-email {
				p {
					font-size: 22px;
				}
			}
		}
	}
}

@media(max-width: 380px) {
	.section {
		&__header-title {
			font-size: 22px;
		}
	}
	// .dealer-network {
	// 	&-item__icon {
	// 		width: 70px;
	// 		height: 70px;
	// 		border: 5px solid #AF9597;
	// 		margin-bottom: 0;
	// 	}
	
	// 	&-item__icon-img {
	// 		width: 30px;
	// 		width: 30px;
	// 	}
	// }
}

@media(min-width: 320px) and (max-width: 992px) and (max-height: 500px) {
	.intro {
		&__title {
			font-size: 30px;
			margin-bottom: 30px;		
		}
	}
}