@media(max-width: 1200px) {
    .about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
			transform: translateY(0px);
		}
	
		&__content-inner {
			align-items: center;
		}
	
		&__left, &__right {
			width: 50%;
		}
	
		&__img {
			max-width: 100%;
		}
	
		&__right {
			max-width: none;
			padding-top: 0;
			margin-top: 20px;
		}
	
		&__items {
		}
	
		&__item {
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.format-centre {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.format-street {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.advantages-marketplaces {
		&__content {
			height: auto;
		}

		&__img {
			transform: translateY(-0%);
		}
	}

	.advantages-school {
		&__title {
			margin-bottom: 14px;
		}

		&__content {
			height: auto;
		}

		&__content-inner {
			transform: translateY(-0%);
		}

		&__left, &__right {
			width: 50%;
		}

		&__img {
			max-width: 100%;
		}
	}

	.investment {
		&__content-inner {
			display: block;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			margin-bottom: 30px;
		}
	}

	.quality-mark {
		&__content {
			height: auto;
		}

		&__content-inner {
			align-items: center;

			transform: translateY(-0%);
			position: static;
			z-index: 0;
		}

		&__left, &__right {
			width: 50%;
		}

		&__left {
			padding: 0;
			margin-right: 30px;
		}

		&__img {
			max-width: 100%;
		}
	}
}

@media(max-width: 1100px) {
	.partner-offer {
		&__content {
			height: auto;
		}
	}
}

@media(max-width: 992px) {
    .header {
        padding-top: 15px;

        &__img {
            width: 110px;
        }
    }

	.section {
		padding: 50px 0;

		&__title {
			font-size: 30px;
		}
	}

	.about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
		}
	
		&__content-inner {
			display: block;
		}

		&__left {
			text-align: center;
		}
	
		&__left, &__right {
			width: 100%;
		}
	
		&__img {
		}
	
		&__right {
		}
	
		&__items {
		}
	
		&__item {
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.dealer-network {
		&__content {
			background-size: contain;
		}

		&__title {
			margin-bottom: 50px;
		}

		&__items {
			padding: 0 60px;
		}

		&-item__count {
			font-size: 60px;
		}
	}

	.advantages-analysis {
		&__content {
			background-size: contain;
		}

		&__title {
			margin-bottom: 50px;
		}

		&-item {
			&__text {
				p {
					margin-bottom: 10px;
				}
			}
		}
	}

	.advantages-school {
		&__title {
		}

		&__content-inner {
			// display: block;
			flex-direction: column;
		}

		&__left, &__right {
			width: 100%;
		}
		
		&__left {
			order: 1;
			margin-right: 0;
			margin-top: 20px;
		}

		&__right {
			order: 0;
			text-align: center;
		}
	}

	.investment {
		&__title {
			margin-bottom: 50px;
		}
	}

	.quality-mark {
		&__content-inner {
			flex-direction: column;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			order: 1;
			margin-right: 0;
		}

		&__items {
			display: flex;
			justify-content: space-between;
		}

		&__item {
			&:first-child {
				margin-right: 30px;
				margin-bottom: 0;
			}
		}

		&__right {
			order: 0;
			text-align: center;
		}
	}

	.partner-offer {
		&__content {
			background-position: center center;
			background-size: 40%;
		}
	}
}

@media(max-width: 768px) {
    .about-company {
		&-card {
			&__img {
				margin-bottom: 20px;
			}
		}
	}

	.dealer-network {
		&__items {
			padding: 0;
		}
	}

	.company-tv {
		&__imgs {
			display: block;
		}

		&__left-imgs, &__right-imgs {
			width: 100%;
		}

		// &__left-imgs &__left-img {
		// 	margin-bottom: 10px;
		// }

		&__right-imgs {
			text-align: left;
			display: flex;
			justify-content: space-around;
		}

		&__right-imgs &__right-img {
			width: 50%;
			object-fit: scale-down;
		}
	}

	.advantages-analysis {
		&__items {
			display: block;
		}

		&__item {
			width: 100%;
			margin-bottom: 30px;
		}

		&-item {
			&__title {
				margin-bottom: 20px;
			}

			&__icon {
				margin-bottom: 20px;
			}
		}
	}
}

@media(max-width: 576px) {
    .section {
		&__title {
			font-size: 24px;
		}
	}

	.about-company {
		&__card {
			width: 100%;
			text-align: center;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.about-products {
		&__title {
		}
	
		&__wrapper-subtitle {
		}
	
		&__subtitle {
		}
	
		&__content {
		}
	
		&__content-inner {
			display: block;
		}

		&__left {
			text-align: center;
		}
	
		&__left, &__right {
			width: 100%;
		}
	
		&__img {
		}
	
		&__right {
		}
	
		&__items {
			display: block;
		}
	
		&__item {
			width: 100%;
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	
		&-item {
			&__title {
			}
		
			&__subtitle {
			}
		}
	}

	.dealer-network {
		&__items {
			display: block;
		}

		&__item {
			width: 100%;
			margin-bottom: 30px;
		}

		&-item {
			&__icon {
				margin-bottom: 20px;
			}

			&__count {
				font-size: 40px;
			}
		}
	}

	.investment {
		&__header-col {
			&:first-child {
				width: 60%;
			}
	
			&:nth-child(2) {
				margin-right: 5px;
			}
	
			&:nth-child(2), &:last-child {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__body-col {
			&:first-child {
				width: 60%;
			}
	
			&:nth-child(2), &:last-child {
				width: 20%;
			}
		}
	}

	.quality-mark {
		&__content-inner {
		}

		&__left, &__right {
		}

		&__left {
		}

		&__items {
			display: block;
		}

		&__item {
			&:first-child {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}

		&__right {
		}
	}

	.partner-offer {
		&__content {
			background: none;
		}

		&__row-items {
			display: block;
			margin: 0;

			&:first-child {
				margin-bottom: 20px;
			}
		}

		&__item {
			margin-bottom: 20px;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}

			&:first-child, &:last-child {
				max-width: none;
				width: 100%;
			}
		}
	}
}

@media(max-width: 480px) {
    .header {
        &__img {
            width: 80px;
        }
    }

	// .dealer-network {
	// 	&-item {
	// 		&__count {
	// 			font-size: 30px;
	// 		}
			
	// 		&__text {
	// 			max-width: 170px;
	// 		}
	// 	}
	// }

	.investment {
		&__header-col {
			&:nth-child(2), &:last-child {
				font-size: 16px;
			}
		}

		&__body-row &__body-col {
			&:first-child {
				font-size: 16px;
			}

			&:nth-child(2), &:last-child {
				font-size: 20px;
			}
		}
	}
}

@media(max-width: 380px) {
	// .dealer-network {
	// 	&-item__icon {
	// 		width: 70px;
	// 		height: 70px;
	// 		border: 5px solid #AF9597;
	// 		margin-bottom: 0;
	// 	}
	
	// 	&-item__icon-img {
	// 		width: 30px;
	// 		width: 30px;
	// 	}
	// }
}