@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Rubik', sans-serif;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* INTRO */
.header {
	padding-top: 30px;
	position: absolute;
	width: 100%;

	&__logo {
	}

	&__link {

	}

	&__img {
	}
}
.intro {
	height: 100vh;
	padding-top: 180px;

	& .container {
		height: 100%;
	}
	
	&__wrapper {
		max-width: 1370px;
		margin: 0 auto;
		height: 100%;

		background-image: url("@img/intro/intro-bg.png");
		background-repeat: no-repeat;
		background-position: center right;
	}

	&__content {
		height: 100%;
		// padding: 186px 0 118px;
		padding: 0;
		display: flex;
		align-items: center;

		// background-image: url("@img/intro/intro-bg.png");
		// background-repeat: no-repeat;
		// background-position: center right;
	}
	
	&__info {
		max-width: 495px;
	}

	&__title {
		font-weight: 600;
		font-size: 60px;
		line-height: 1.4;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	
	&__wrapper-subtitle {
		display: flex;
	}

	&__subtitle {
		background: #96BE98;
		border-radius: 15px;
		padding: 20px 30px;
	}
}
/* INTRO */

body.active {
	overflow-x: hidden;
}

body.active main {
	width: 1500%;
	display: flex;
	flex-wrap: nowrap;
	height: 100vh;
}

body.active .section {
	width: 100vw;
}

body.active .investment__title {
	margin-bottom: 20px;
}

body.active .partner-start__right-img {
	transform: translateY(-90px);
}

.section {
	padding: 100px 0;
	// overflow: auto;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 14px;
	}

	&__wrapper-header {
		
	}

	&__header-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.166;
		color: #ACACAC;
		// margin-right: 30px;
	}

	&__header-img {
		// margin-right: 30px;
	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	&__wrapper-subtitle {
		display: flex;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.6;

		background: #96BE98;
		border-radius: 15px;
		padding: 20px 25px;
	}

	&__button {
		border: 1px solid #96BE98;
		padding: 10px 15px;
		font-size: 18px;
		font-weight: 500;
		border-radius: 15px;
		transition: .4s linear background-color;

		&:hover {
			background-color: #96BE98;
		}
	}
}

/* ABOUT-COMPANY */
.about-company {
	&__title {
		max-width: 1139px;
	}

	&__wrapper-subtitle {
		margin-bottom: 50px;
	}

	&__subtitle {
		max-width: 837px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__card {
		width: 33.3333333333%;
		padding: 0 15px;
	}

	&-card {
		&__info {
			padding-right: 8px;
		}

		&__img {
			max-width: 100%;
			margin-bottom: 50px;
		}

		&__title {
			font-weight: 600;
			margin-bottom: 20px;
		}

		&__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
		}
	}

}
/* ABOUT-COMPANY */

/* ABOUT-PRODUCTS */
.about-products {
	&__title {
		max-width: 787px;
	}

	&__wrapper-subtitle {
		justify-content: end;
	}

	&__subtitle {
		max-width: 717px;
	}

	&__content {
		transform: translateY(-41px);
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		margin-right: 41px;
	}

	&__img {
	}

	&__right {
		max-width: 559px;
		padding-top: 106px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		gap: 40px 0;
	}

	&__item {
		width: 50%;
		padding: 0 15px;
	}

	&-item {
		&__title {
			font-weight: 600;
			margin-bottom: 20px;
		}
	
		&__subtitle {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
		}
	}
}
/* ABOUT-PRODUCTS */

/* PURPOSES-COMPANY */
.purposes-company {
	&__title {
		max-width: 743px;
	}

	&__content {
		height: 500px;

		background-image: url("@img/purposes-company/Image.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		height: 100%
	}

	&__left-items, &__right-items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__left-items {
		// padding: 70px 0;
		padding: 76px 0 70px;
	}

	&__left-items &__item {
		&:first-child {
			max-width: 161px;
		}

		&:nth-child(2) {
			max-width: 332px;
			padding-bottom: 15px;
		}

		&:last-child {
			max-width: 193px;
		}
	}

	&__item {
	}

	&__right-items {
		padding: 100px 0;
		transform: translateX(22px);
	}

	&__right-items &__item {
		&:first-child {
			max-width: 192px;
		}

		&:last-child {
			max-width: 159px;
		}
	}

	&-item {

		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 1.4;
		}
	}
}
/* PURPOSES-COMPANY */

/* DEALER-NETWORK */
.dealer-network {

		& .section__header {
			margin-bottom: 0;
		}

		&__content {
			background-image: url("@img/map-bg.png");
			background-repeat: no-repeat;
			background-position: center top;
			// background-size: contain;
			// height: 625px;
			padding-bottom: 32px;
		}

		&__title {
			max-width: 740px;
			margin-bottom: 100px;
			padding-top: 14px;
		}

		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 96px 0 110px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-item {

			&__icon {
				width: 150px;
				height: 150px;
				border-radius: 100%;
				background-color: #F1D7B9;
				border: 10px solid #AF9597;
				position: relative;
				margin-bottom: 40px;
			}
		
			&__icon-img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		
			&__count {
				font-weight: 400;
				font-size: 90px;
				line-height: 1.188;
				margin-bottom: 20px;
			}
		
			&__text {
				max-width: 175px;
				text-align: center;
			}
		}
}
/* DEALER-NETWORK */

/* COMPANY-TV */
.company-tv {

	&__title {
		max-width: 835px;
	}

	&__imgs {
		display: flex;
		align-items: center;
	}

	&__left-imgs {
		width: 77%;
	}

	&__left-img, &__right-img {
		max-width: 100%;
	}

	&__right-imgs {
		width: 23%;
		text-align: right;
	}

	&__right-img {
	}
}
/* COMPANY-TV */

/* FORMAT-CENTRE */
.format-centre {

	&__content {
		height: 676px;
	}

	&__title {
	}

	&__wrapper-subtitle {
	}

	&__subtitle {
		max-width: 505px;
	}
	
	&__img {
		transform: translateY(-28%);
		max-width: 100%;
		position: relative;
		z-index: -1;
	}
}
/* FORMAT-CENTRE */

/* FORMAT-STREET */
.format-street {

	&__content {
		height: 700px;
	}

	&__title {
	}

	&__wrapper-subtitle {
	}

	&__subtitle {
		max-width: 454px;
	}
	
	&__img {
		transform: translateY(-28%);
		max-width: 100%;
		position: relative;
		z-index: -1;
	}
}
/* FORMAT-STREET */

/* ADVANTAGES-ANALYSIS */
.advantages-analysis {
	& .section__header {
		margin-bottom: 0;
	}

	&__content {
		background-image: url("@img/map-bg.png");
		background-repeat: no-repeat;
		background-position: center top;
		// background-size: contain;
		// height: 625px;
		// padding-bottom: 48px;
	}

	&__title {
		max-width: 1095px;
		margin-bottom: 100px;
		padding-top: 14px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		// padding: 0 96px 0 110px;
		margin: 0 -15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 33.3333333333%;
		padding: 0 15px;
	}

	&-item {

		&__title {
			font-weight: 500;
			margin-bottom: 40px;
		}
	
		&__icon {
			width: 150px;
			height: 150px;
			border-radius: 100%;
			background-color: #F1D7B9;
			border: 10px solid #AF9597;
			position: relative;
			margin-bottom: 40px;
		}
	
		&__icon-img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0)
		}
	
		&__icon-img {
		}
	
		&__text {
			font-size: 16px;
			line-height: 1.4;
			// text-align: center;

			p {
				padding-left: 25px;
				margin-bottom: 20px;
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 5px;
					height: 5px;
					background-color: #000;
					border-radius: 100%;
					position: absolute;
					left: 10px;
					top: 7px;
				}
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
/* ADVANTAGES-ANALYSIS */

/* ADVANTAGES-MARKETPLACES */
.advantages-marketplaces {

	&__content {
		height: 805px;
	}

	&__title {
	}

	&__wrapper-subtitle {
	}

	&__subtitle {
		max-width: 587px;
	}

	&__img {
		transform: translateY(-12%);
		max-width: 100%;
		position: relative;
		z-index: -1;
	}
}
/* ADVANTAGES-MARKETPLACES */

/* ADVANTAGES-SCHOOL */
.advantages-school {

	&__title {
		max-width: 755px;
		margin-bottom: 0;
	}

	&__content {
		height: 571px;
	}

	&__content-inner {
		display: flex;
		align-items: center;

		transform: translateY(-27px);
	}

	&__left {
		margin-right: 30px;
	}

	&__items {
	}

	&__item {
		padding-left: 30px;
		margin-bottom: 20px;
		position: relative;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			content: "";
			display: block;
			width: 5px;
			height: 5px;
			background-color: #000;
			border-radius: 100%;
			position: absolute;
			left: 13px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__right {
	}

	&__img {
	}
}
.section {

	&__header {
	}

	&__header-title {
	}

	&__header-img {
	}

	&__title {
	}
}
.container {
}
.advantages-school-item {

	&__text {
	}
}
/* ADVANTAGES-SCHOOL */

/* INVESTMENT */
.investment {

	&__title {
		margin-bottom: 100px;
	}

	&__content {
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 74%;
	}

	&__table {
	}

	&__table-header {
		display: flex;
		// justify-content: space-between;
		margin-bottom: 20px;
	}

	&__header-col {
		font-weight: 500;

		&:first-child {
			width: 35%;
		}

		&:nth-child(2) {
			margin-right: 30px;
		}

		&:nth-child(2), &:last-child {
			width: 31%;
			text-align: center;
			background: #96BE98;
			border-radius: 15px;
			padding: 10px 0;
		}
	}

	&__body {
		// display: flex;
	}

	&__body-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__body-col {
		// display: flex;
		// justify-content: space-between;

		&:first-child {
			width: 35%;
		}

		&:nth-child(2), &:last-child {
			width: 32.5%;
			text-align: center;
			font-size: 24px;
			line-height: 1.166;
		}
	}

	&__right {
		width: 23%;
	}

	&__start-rate {
		// max-width: 270px;
		padding: 10px 39px 20px 39px;
		background: #96BE98;
		border-radius: 15px;
		text-align: center;
	}

	&-start-rate {

		&__title {
			font-weight: 500;
			line-height: 1.6;
			margin-bottom: 30px;
		}
	
		&__items {
		}
	
		&__item {
			font-weight: 400;
			line-height: 1.4;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
/* INVESTMENT */

/* QUALITY-MARK */
.quality-mark {

	&__title {
		max-width: 783px;
	}

	&__wrapper-subtitle {
	}

	&__subtitle {
		max-width: 643px;
	}

	&__content {
		// transform: translateY(-135px);
		// position: relative;
		// z-index: -1;
		height: 702px;
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;

		transform: translateY(-135px);
		position: relative;
		z-index: -1;
	}

	&__left {
		padding-top: 196px;
	}

	&__items {
	}

	&__item {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__right {
	}

	&__img {
	}

	&-item {

		&__title {
			margin-bottom: 20px;
		}
	
		&__texts {
		}
	
		&__text {
			font-size: 16px;
			line-height: 1.187;

			padding-left: 25px;
			margin-bottom: 15px;
			position: relative;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				background-color: #000;
				border-radius: 100%;
				position: absolute;
				left: 10px;
				top: 7px;
				// top: 50%;
				// transform: translateY(-50%);
			}
		}
	}
}
/* QUALITY-MARK */

/* PARTNER-OFFER */
.partner-offer {
	&__title {
		max-width: 1011px;
	}

	&__wrapper-subtitle {
		margin-bottom: 40px;
	}

	&__subtitle {
		max-width: 956px;
	}

	&__content {
		height: 570px;

		background-image: url("@img/partner-offer/partner-offer-bg.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-size: contain;
	}

	&__items {
		// display: flex;
		// justify-content: space-between;
		height: 100%;
	}

	// &__left-items, &__right-items {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: space-between;
	// }

	&__row-items {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		margin-bottom: 100px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		padding: 0 15px;

		&:first-child {
			max-width: 287px;
		}

		&:last-child {
			max-width: 271px;
		}
	}

	&-item {
		&__title {
			font-weight: 600;
			margin-bottom: 20px;
		}

		&__texts {
		}

		&__text {
			font-size: 16px;
			line-height: 1.187;

			padding-left: 25px;
			margin-bottom: 15px;
			position: relative;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: "";
				display: block;
				width: 5px;
				height: 5px;
				background-color: #000;
				border-radius: 100%;
				position: absolute;
				left: 10px;
				top: 7px;
				// top: 50%;
				// transform: translateY(-50%);
			}
		}
	}
}
/* PARTNER-OFFER */

/* PARTNER-START */
.partner-start {
	padding: 100px 0 0;

	&__content {
		display: flex;
		justify-content: space-between;
	}
	
	&__left {
		padding: 22px 0;
	}

	&__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.166;
		color: #ACACAC;
		margin-bottom: 20px;
	}

	&__wrapper-subtitle {
		margin-bottom: 60px;
	}

	&__subtitle {
		padding: 20px 40px;
		max-width: 437px;
		font-weight: 600;
		font-size: 32px;
		line-height: 1.4;
		text-align: center;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 570px;
		margin-bottom: 40px;
	}

	&__contacts {
		// margin-right: 28px;

		// &-phone {
		// 	margin-bottom: 30px;

		// 	a {
		// 		font-weight: 600;
		// 		font-size: 24px;
		// 		line-height: 1.4;
		// 		color: #000000;
		// 	}
		// }

		&-phone, &-email {
			p {
				font-size: 24px;
				line-height: 1.4;
				color: #000000;
				position: relative;
				padding-left: 34px;

				&:before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}

		&-phone {
			font-weight: 600;
			margin-bottom: 30px;

			p {
				&:before {
					background-image: url('@img/partner-start/phone.png');
				}
			}
		}

		&-email {
			font-weight: 400;

			p {
				&:before {
					background-image: url('@img/partner-start/email.png');
				}
			}
		}

	}

	// &__qr-code {
	// 	text-align: center;

	// 	h3 {
	// 		font-weight: 600;
	// 		font-size: 32px;
	// 		line-height: 1.4;
	// 		margin-bottom: 15px;
	// 	}

	// 	img {
	// 		max-width: 100%;
	// 	}
	// }

	&__form {
		width: 437px;
	}

	&__right {
		transform: translateX(-70px);
	}

	&-right {
		&__img {

		}
	}

	.section__header {
		margin-bottom: 20px;
	}
}
/* PARTNER-START */

/* PARTNER-FORM */
.partner {
	&__form {
		input {
			width: 100%;
			border-radius: 15px;
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		&-input {
			display: block;
			border: 1px solid #999;
			// margin-bottom: 20px;
			padding: 10px 15px;
			font-size: 18px;
		}

		&-button {
			background: none;
			cursor: pointer;
			border: 1px solid #96BE98;
			padding: 10px 15px;
			font-size: 18px;
			font-weight: 500;
			transition: 0.4s linear background-color;

			&:hover {
				background-color: #96BE98;
			}
		}
	}

	&__message {
		font-size: 18px;
		text-align: center;
		margin-top: 5px;
	}
}
/* PARTNER-FORM */

/* ADVANTAGES-HELP */
.advantages-help {
	&__content {
		background-image: url(../img/map-bg.png);
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__title {
		max-width: 943px;
		margin-bottom: 120px;
		padding-top: 14px;
	}

	&__road {
		max-width: 1260px;
		margin: 0 auto;
		padding: 0 15px;
		position: relative;

		&-img {
			max-width: 100%;
		}
	}

	&__items {
	}

	&__item {
		position: absolute;
	}

	&-item {
		&__title {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.214;
			margin-bottom: 15px;
			text-align: center;
		}

		&__icon {
			width: 70px;
			height: 70px;
			background: rgba(241, 215, 185, 0.8);
			border: 8px solid #AF9597;
			border-radius: 100%;
			margin: 0 auto;
			position: relative;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);

				font-family: 'Rubik';
				font-weight: 500;
				font-size: 26px;
				line-height: 1.4;
				color: #FFFFFF;
			}
		}
	}

	&__first-item {
		max-width: 81px;
		bottom: 29%;
    	left: 4%;
	}

	&__second-item {
		max-width: 82px;
		bottom: 29%;
		left: 12.9%;
	}

	&__third-item {
		max-width: 105px;
		bottom: 19.7%;
		left: 21.3%;
	}

	&__fourth-item {
		max-width: 110px;
		bottom: 0%;
		left: 28.7%;
	}

	&__fifth-item {
		max-width: 75px;
		bottom: 9%;
		left: 39.8%;
	}

	&__sixth-item {
		max-width: 70px;
		bottom: -1%;
		left: 51.4%;
	}

	&__seventh-item {
		max-width: 144px;
		bottom: 26.3%;
    	left: 46.2%;
	}

	&__eighth-item {
		max-width: 155px;
		bottom: 45%;
		left: 34.2%;
	}

	&__ninth-item {
		max-width: 76px;
		bottom: 57%;
    	left: 51.7%;
	}

	&__tenth-item {
		display: flex;
		align-items: center;

		bottom: 67.2%;
    	left: 60.7%;
	}

	&__tenth-item &-item__title {
		max-width: 153px;
		text-align: left;
		order: 1;
		margin-bottom: 0;
	}

	&__tenth-item &-item__icon {
		order: 0;
		margin-right: 15px;
	}

	&__eleventh-item {
		display: flex;
		align-items: center;

		bottom: 48.2%;
    	left: 57.4%;
	}

	&__eleventh-item &-item__title {
		max-width: 153px;
		text-align: left;
		order: 1;
		margin-bottom: 0;
	}

	&__eleventh-item &-item__icon {
		order: 0;
		margin-right: 15px;
	}

	&__twelfth-item {
		max-width: 76px;
		bottom: 21.4%;
    	left: 61.5%;
	}

	&__thirteenth-item {
		max-width: 113px;
		bottom: 22.4%;
		left: 70.3%;
	}

	&__fourteenth-item {
		max-width: 70px;
		bottom: 29%;
		left: 81.2%;
	}
	
	&__fifteenth-item {
		max-width: 84px;
		bottom: 29%;
		left: 89.7%;
	}
}
/* ADVANTAGES-HELP */

.section__header-fixed {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	transform: translateY(-100%);
	transition: .3s linear opacity, .3s linear transform;

	&.active {
		opacity: 1;
		top: 0;
		transform: translateY(0);

		.section__header {
			margin-bottom: 0;
		}
	}
}

/* MODAL */
.modal {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;

	&--active {
		visibility: visible;
		opacity: 1;
	}

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// z-index: -1;
	}

	&__wrapper {
		min-height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 15px;
	}

	&__content {
		width: 480px;
		background-color: #fff;
		color: $black;
		padding: 32px;
		border-radius: 16px 0 16px 16px;
		position: relative;

		// transform: perspective(600px) translateY(-120%) rotateX(45deg);
		// transition: .5s linear;
	}

	&__close {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background-color: $white;
		filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16));
		position: absolute;
		right: -24px;
		top: -24px;
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.11) rotate(360deg);
		}

		&:after, &:before {
			content: "";
			display: block;
			width: 15px;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&:after {
			transform: translate3d(-50%, -50%, 0) rotate(45deg);
		}

		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(135deg);
		}
	}

	&__info {
		margin-bottom: 16px;
	}

	&__title {
		font-size: 36px;
		line-height: 1;
		margin-bottom: 16px;
		margin-bottom: 30px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 1.357;
	}

	&__error-message, &__recaptcha-error {
		font-size: 14px;
		line-height: 19px;
		color: #999;
		margin-top: 16px;
		// display: none;
	}
}
/* MODAL */

/* ALERT */
.alert {
	background-color: #ffb5c3;
	position: fixed;
	top: 100px;
	right: 15px;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;

	&--active {
		visibility: visible;
		opacity: 1;
	}

	&__wrapper {
		padding: 10px 20px 10px 10px;
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.15);
		}

		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(135deg);
		}

		&:after {
			transform: translate3d(-50%, -50%, 0) rotate(45deg);
		}

		&:before, &:after {
			content: "";
			display: block;
			width: 10px;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	&__text {
		font-size: 16px;
		user-select: none;
	}
}
/* ALERT */

@import "media.scss";