@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';



body {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	font-family: 'Rubik', sans-serif;
	color: $black;
	background-color: $white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* INTRO */
.header {
	padding-top: 30px;
	position: absolute;
	width: 100%;

	&__logo {
	}

	&__link {

	}

	&__img {
	}
}
.intro {
	height: 100vh;
	padding-top: 180px;

	& .container {
		height: 100%;
	}

	&__content {
		height: 100%;
		padding: 186px 0 118px;
		background-image: url("@img/intro/intro-bg.png");
		background-repeat: no-repeat;
		background-position: center right;
	}
	
	&__info {
		max-width: 495px;
	}

	&__title {
		font-weight: 600;
		font-size: 60px;
		line-height: 1.4;
		text-transform: uppercase;
		margin-bottom: 50px;
	}
	
	&__wrapper-subtitle {
		display: flex;
	}

	&__subtitle {
		background: #96BE98;
		border-radius: 15px;
		padding: 20px 30px;
	}
}
/* INTRO */

.section {
	padding: 100px 0;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 14px;
	}

	&__wrapper-header {
		
	}

	&__header-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		color: #ACACAC;
	}

	&__header-img {

	}

	&__title {
		font-weight: 600;
		font-size: 40px;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	&__wrapper-subtitle {
		display: flex;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.4;

		background: #96BE98;
		border-radius: 15px;
		padding: 20px 25px;
	}
}

/* ABOUT-COMPANY */
.about-company {
	&__title {
		max-width: 1139px;
	}

	&__subtitle {
		max-width: 819px;
		margin-bottom: 50px;
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__card {
		width: 33.3333333333%;
		padding: 0 15px;
	}

	&-card {
		&__info {
			padding-right: 8px;
		}

		&__img {
			max-width: 100%;
			margin-bottom: 50px;
		}

		&__title {
			font-weight: 600;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 20px;
		}

		&__text {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
		}
	}

}
/* ABOUT-COMPANY */

/* ABOUT-PRODUCTS */
.about-products {
	&__title {
		max-width: 787px;
	}

	&__wrapper-subtitle {
		justify-content: end;
	}

	&__subtitle {
		max-width: 667px;
	}

	&__content {
		transform: translateY(-41px);
	}

	&__content-inner {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		margin-right: 41px;
	}

	&__img {
	}

	&__right {
		max-width: 559px;
		padding-top: 106px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		gap: 40px 0;
	}

	&__item {
		width: 50%;
		padding: 0 15px;
	}

	&-item {
		&__title {
			font-weight: 600;
			margin-bottom: 20px;
		}
	
		&__subtitle {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
		}
	}
}
/* ABOUT-PRODUCTS */

/* PURPOSES-COMPANY */
.purposes-company {
	&__title {
		width: 743px;
	}

	&__content {
		height: 500px;

		background-image: url("@img/purposes-company/Image.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: contain;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		height: 100%
	}

	&__left-items, &__right-items {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__left-items {
		padding: 70px 0;
	}

	&__left-items &__item {
		&:first-child {
			max-width: 161px;
		}

		&:nth-child(2) {
			max-width: 332px;
		}

		&:last-child {
			max-width: 193px;
		}
	}

	&__item {
	}

	&__right-items {
		padding: 100px 0;
	}

	&__right-items &__item {
		&:first-child {
			max-width: 192px;
		}

		&:last-child {
			max-width: 159px;
		}
	}

	&-item {

		&__text {
			font-weight: 400;
			font-size: 20px;
			line-height: 1.4;
		}
	}
}
/* PURPOSES-COMPANY */

/* DEALER-NETWORK */
.dealer-network {

		&__content {
			background-image: url("@img/map-bg.png");
			background-repeat: no-repeat;
			background-position: center center;
			// background-size: contain;
			// height: 625px;
			padding-bottom: 48px;
		}

		&__title {
			max-width: 740px;
			margin-bottom: 100px;
		}

		&__items {
			display: flex;
			justify-content: space-between;
			padding: 0 96px 0 110px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&-item {

			&__icon {
				width: 150px;
				height: 150px;
				border-radius: 100%;
				background-color: #F1D7B9;
				border: 10px solid #AF9597;
				position: relative;
				margin-bottom: 40px;
			}
		
			&__icon-img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0)
			}
		
			&__count {
				font-weight: 400;
				font-size: 90px;
				line-height: 1.188;
				margin-bottom: 20px;
			}
		
			&__text {
				max-width: 175px;
				text-align: center;
			}
		}
}
/* DEALER-NETWORK */

/* COMPANY-TV */
.company-tv {

	&__title {
		max-width: 835px;
	}

	&__imgs {
		display: flex;
		align-items: center;
	}

	&__left-imgs {
		width: 77%;
	}

	&__left-img, &__right-img {
		max-width: 100%;
	}

	&__right-imgs {
		width: 23%;
		text-align: right;
	}

	&__right-img {
	}
}
/* COMPANY-TV */


@import "media.scss";